<div class="white-panel">
    <img src="{{ post.header-img | prepend: site.baseurl }}" alt="{{ post.title }}">
    <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
    <p>{{ post.subtitle }}</p>
    <p>
    {% for tag in post.tags  %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == tag %}
                {% assign tag_complete = data_tag %}
            {% endif %}
        {% endfor %}
        <a class="label label-default" href="/tag/{{ tag_complete.slug }}/">{{ tag_complete.name }}</a>
    {% endfor %}
    </p>
</div>